#header {
    height: 50px;
    background-color: #10284e;
   /* color: #304254; */
    

}

#branding h1{
    color: #FFF8ED;
}
#user-tools {
    color: white;

}
a:link,
a:visited {
    color: #10284e;
}
div.breadcrumbs{
    background:  #304254 ;
}